<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: navbar" />
<div class="container">
    <h1>Liste des projets</h1>
    <a href="/project/add">Ajouter un nouveau</a>

    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p: ${projects}">
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getDescription()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments :: scripts"/>
</body>
</html>